<div class="container dashboard-big-container p-2 mt-5">
  <h1>My own leasings waiting for validation ⏰✔️❔</h1>
  <% if  @owner_created_bookings.exists? %>
    <div class="accordion" id="accordionExample">
      <%  @owner_created_bookings.each_with_index do |booking, index| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= index.to_s %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
              My baobab : <%= booking.tree.species %>  ||  Start : <%= booking.start_date %>  ||  End : <%= booking.end_date %>
            </button>
          </h2>
          <div id="collapse1<%= index.to_s %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index.to_s %>" data-bs-parent="#accordionExample">
            <div class="accordion-body flex-accordion">
              <%= cl_image_tag(booking.tree.photo.key, width: 200, height: 200, crop: :fill) %>
              <div class="margin-dashboard">
                <%= cl_image_tag(booking.user.photo.key, width: 50, height: 45, class: "avatar dropdown-toggle", crop: :fill) %>
                <p><%= booking.user.first_name.capitalize %> is waiting for you to review the booking.</p>
              </div>
              <%= link_to "Accept", accept_owner_booking_path(booking.id), method: "patch", class: "btn btn-success btn-dashboard margin-dashboard" %>
              <%= link_to "Reject", decline_owner_booking_path(booking.id), method: "patch", class: "btn btn-danger btn-dashboard margin-dashboard" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>You have no leasing demands waiting for validation</h3>
  <% end %>
</div>

<div class="container dashboard-big-container p-2 mt-5">
  <h1>My bookings waiting for validation ⏳🌴 </h1>
  <% if @renter_created_bookings.exists? %>
    <div class="accordion" id="accordionExample">
      <% @renter_created_bookings.each_with_index do |booking, index| %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index.to_s %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
                Baobab I want to book : <%= booking.tree.species %> | Start : <%= booking.start_date %> | End : <%= booking.end_date %>
              </button>
            </h2>
            <div id="collapse2<%= index.to_s %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index.to_s %>" data-bs-parent="#accordionExample">
              <div class="accordion-body flex-accordion">
                <%= cl_image_tag(booking.tree.photo.key, width: 200, height: 200, crop: :fill) %>
                <div class="margin-dashboard">
                  <%= cl_image_tag(booking.tree.user.photo.key, width: 50, height: 45, class: "avatar dropdown-toggle", crop: :fill) %>
                  <p><%= booking.tree.user.first_name.capitalize %> is still reviewing your booking.</p>
                  <p>It will move to your future bookings section below once accepted.</p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% else %>
    <h3>You have no demands waiting for validation</h3>
  <% end %>
</div>

<div class="container dashboard-big-container p-2 mt-5">
  <h1>My future baobab bookings! 🌴🌞</h1>
  <% if @renter_validated_future_bookings.exists? %>
    <div class="accordion" id="accordionExample">
      <% @renter_validated_future_bookings.each_with_index do |booking, index| %>
        <%# <% if booking.start_date > Date.today && booking.status == "validated" && current_user == booking.user %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= index.to_s %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
              The booked baobab  : <%= booking.tree.species %> | Start : <%= booking.start_date %> | End : <%= booking.end_date %>
            </button>
          </h2>
          <div id="collapse3<%= index.to_s %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index.to_s %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%= cl_image_tag(booking.tree.photo.key, width: 200, height: 200, crop: :fill) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>You have no future baobab bookings awaiting. Start to book boabab for yourself today!</h3>
  <% end %>
</div>

<div class="container dashboard-big-container p-2 mt-5">
  <h1>My past bookings 📜🌴</h1>
  <% if @renter_validated_past_bookings.exists? %>
    <div class="accordion" id="accordionExample">
      <% @renter_validated_past_bookings.each_with_index do |booking, index| %>
      <%# <% if booking.end_date < Date.today && booking.status == "validated" && current_user == booking.user %> %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= index.to_s %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
              My past baobabs : <%= booking.tree.species %> | Start : <%= booking.start_date %> | End : <%= booking.end_date %>
            </button>
          </h2>
          <div id="collapse4<%= index.to_s %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index.to_s %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%= cl_image_tag(booking.tree.photo.key, width: 200, height: 200, crop: :fill) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>You have no past baobab bookings.</h3>
  <% end %>
</div>

<div class="container dashboard-big-container p-2 mt-5">
  <h1>My declined baobab bookings ❌🌴</h1>
  <% if @renter_declined_future_bookings.exists? %>
    <div class="accordion" id="accordionExample">
      <% @renter_declined_future_bookings.each_with_index do |booking, index| %>
        <%# <% if booking.start_date > Date.today && booking.status == "validated" && current_user == booking.user %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= index.to_s %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3<%= index.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s %>">
              Declined baobabs : <%= booking.tree.species %> | Start : <%= booking.start_date %> | End : <%= booking.end_date %>
            </button>
          </h2>
          <div id="collapse3<%= index.to_s %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index.to_s %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%= cl_image_tag(booking.tree.photo.key, width: 200, height: 200, crop: :fill) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>You had some booking requests declined in the past.</h3>
  <% end %>
</div>
