<h1>Baobarium   🌴<%= @trees.length%> fancy baobabs🌴</h1>

<br>
<div class="container mt-3 mb-5">
  <div class="cards">
    <% @trees.each do |tree| %>
      <%= link_to tree_path(tree), :class => 'link-decoration' do %>
        <div class="card card_index d-inline-block mt-2" >
          <%= cl_image_tag(tree.photo.key, width: 300, height: 200, crop: :fill) %>
          <div class="card-body">
            <b><p class="card-title"><%= tree.species.capitalize[0..28] %></p></b>
            <p class="card-text"><%= tree.description.capitalize[0..28] %></p>
            <p>€<%= tree.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <div>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
