<br>




<h1>List of fancy baobabs (<%= @trees.length%>)</h1>
<br>
<% @trees.each do |tree| %>
  <div class="card d-inline-block" style="width: 18rem;">
        <%= cl_image_tag(tree.photo.key, width: 286, height: 200, crop: :fill) %>
        <h5 class="card-title"><%= tree.description %></h5>
        <i class="fas fa-euro-sign"></i><%= tree.price %>
        <br>
        <%= link_to 'See details', tree_path(tree) %>
  </div>
<% end %>
