<h1>Baobarium   🌴<%= @trees.length%> fancy baobabs🌴</h1>

<br>
<% @trees.each do |tree| %>
  <div class="card card_index d-inline-block mt-2" >
    <%= cl_image_tag(tree.photo.key, width: 300, height: 200, crop: :fill) %>
    <div class="card-body">
      <b><p class="card-title"><%= tree.species.capitalize[0..28] %></p></b>
      <p class="card-text"><%= tree.description.capitalize[0..28] %></p>
      <p >€<%= tree.price %></p>
      <%= link_to 'See more details', tree_path(tree) %>
    </div>
  </div>
<% end %>