<div class="container">
  <%= cl_image_tag(@tree.photo.key,
      width: 400, height: 300, crop: :fill) %>
  <%# <%= cl_image_tag @tree.photo.key, height: 300, width: 400, crop: :fill %>
  <h1><%= @tree.species %></h1>
  <p><%= @tree.description %></p>
  <p><%= "#{@tree.price} per day " %></p>
  <p><%= "#{@tree.street} #{@tree.city} #{@tree.country}" %></p>
  <p><%= "owner : #{@tree.user.first_name} #{@tree.user.last_name}" %></p>
  <a class="btn btn-flat" href="#">Book now</a>
</div>
