<h1><%= @tree.species %></h1>
<%# <%= cl_image_tag @tree.photo.key, height: 300, width: 400, crop: :fill %>
<img src="https://st.depositphotos.com/1016676/4018/i/600/depositphotos_40188397-stock-photo-baobab.jpg" alt="baobab">
<p><%= @tree.description %></p>
<p><%= "#{@tree.price} per day" %></p>
<p><%= "#{@tree.street} #{@tree.city} #{@tree.country}" %></p>
<p><%= "owner : #{@tree.user.first_name} #{@tree.user.last_name}" %></p>
<a class="btn btn-flat" href="#">Book now</a>
