<h1><%= @tree.species %></h1>
<p><%= @tree.description %></p>
<p><%= "#{@tree.price} per day" %></p>
<p><%= "#{@tree.street} #{@tree.city} #{@tree.country}" %></p>
<p><%= "owner : #{@tree.user.first_name} #{@tree.user.last_name}" %></p>
