
<div class="baobab_page">
  <div class="navigation">
    <p>
      <i class="fas fa-home"></i>
      <%= link_to "Accueil", root_path %> >
      <%= link_to "Babobarium", trees_path %> >
      <%= link_to "#{@tree.species}", tree_path(@tree) %>
    </p>
  </div>
  <div class="baobab_container d-flex justify-content-around">
    <div>
      <div class="presentation">
        <h1><%= "#{@tree.species.capitalize} from #{@tree.country}" %></h1>
        <div class="baobab_image">
          <% if @tree.photo.attached?%>
            <%= cl_image_tag(@tree.photo.key,
              width: 500, height: 400, crop: :fill) %>
          <% end %>
        </div>
      </div>
      <div class="first_description">
        <p><%= @tree.description %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= " #{@tree.street}, #{@tree.city}, #{@tree.country}" %></p>
        <span><i class="fas fa-dollar-sign"></i> <%= "#{@tree.price} / day"%></span>
      </div>
      <div class="second_description">
        <p><strong> More details </strong></p>
        <p><%= "Contact #{@tree.user.first_name} #{@tree.user.last_name}" %> <%= link_to "for more information", class: "link-secondary" %> </p>
      </div>
    </div>
    <div class="booking_baobab">
      <%= simple_form_for [ @tree, @booking ] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :comment %>
        <%# <%= f.submit "Book ", class: "btn btn-primary" %>
      <% end %>
      <a class="btn btn-flat" href="#">Book now</a>
    </div>
  </div>
<div>
