
<%# Banneer %>
<div class="banner banner-container">
  <%= video_tag "video.mp4", autoplay: true, loop: :loop, muted: :muted, id:"myVideo", class: "banner-video" %>
  <div class="container container-hompage-margin">
    <h1>Find the Baobab <strong>of your dreams</strong> today </strong>!</h1>
    <%= link_to "Find the perfect Baobab", trees_path, class: "btn btn-flat" %>
  </div>
</div>

<%# how it works %>

<br> <br>
<%# --------------------------------------Why %>

<h2>Why to rent  a Baobab?  </h2>
<div class="cards">
  <div class="card-product">
    <img src="https://images.unsplash.com/uploads/14122621859313b34d52b/37e28531" />
    <div class="card-product-infos">
      <h2>We deliver your tree</h2>
      <p> You will not have to stick with a specific tree until the time it is replaced. You can create a different look for the space every month, by getting your current tree replaced as often as you like. With this, you can also realise which type of trees look good and work well in the office environment.<br>Service provided by Pédale et Guidon.
      </p>
    </div>
  </div>


  <div class="card-product d-flex">
    <img src="https://images.unsplash.com/photo-1500999753436-5de4f76353f5" />
    <div class="card-product-infos">
      <h2>It is more economical</h2>
      <p>Renting a tree is more economical as you will not have to spend on buying containers, hiring help to maintain it and the transportation cost, if you have to replace them often. Renting a tree would mean getting regular maintenance for your tree. If  you are interested in match your tree with fabulous plants we can provide that service thanks or partnership with Treent </p>
    </div>

  </div>

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1504598578017-40d9b776f1bc" />
    <div class="card-product-infos">
      <h2>You change the world</h2>
      <p>We set up programmes for the preservation of natural ecosystems by liaising with the local inhabitants so that they can reap the economic benefits of the Baobaob preservation: <br> <br>
  ~ In Madagascar, we encourage local women associations.<br>
  ~ In Indonesia, the focus is on traditional food products.<br>
  ~ In Cameroon, Planète Urgence supports producers to save the dying trees, victims of climate change..</p>
    </div>
  </div>
</div>
  </div>
<br><br>

<%# --------------------------------------Why %>

<%#

<h2>Our popular Baobabs </h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1631551807930-6e52bca73022?ixlib)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605512696792-79765f6d8e4a)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515863149848-223cbed59017)">
  </div>
</div>
<br>

<%# <% @trees.each do |tree| %>
      <%# <%= link_to tree_path(tree), :class => 'link-decoration' do %>
        <%# <%= render "/shared/tree_card", tree: tree %>
      <%# <% end %>
    <%# <% end %>


<%# --------------------owner banner----------------------------------------------- %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502082553048-f009c37129b9)">
  <div>
						<h3> Are you a Baobab owner?  Join our network and make money </h3>
            <%= link_to "Share  your Baobab", dashboard_path, class: "btn btn-flat" %>
</div>
</div>
<%# ---------------------------------------------owner banner---------------------  %>
