<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
        <br>
        <br>
        <br>
      <%= image_tag "Air baobab-n-baobab.png" %>
    <% end %>



    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "BAOboard", dashboard_path, class: "nav-link mt-5" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link mt-5"%>
          </li>
          <li class="nav-item active">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle mt-5", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </li>
        <% else %>


            <%= link_to "Login", new_user_session_path, class: "nav-link mt-5" %>
          <!--/li-->
        <% end %>
      </ul>
    </div>
  </div>
</div>
